$brand-primary: #0d4f7e;
$navbar-default-bg: $brand-primary;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #efefef;
$navbar-default-link-active-color: #efefef;

$table-bg: #fff;
